  input {
    overflow: visible;
  }
  .mui-textfield {
    display: block;
    padding-top: 15px;
    margin-bottom: 20px;
    position: relative;
  }
  .mui-textfield > label {
    position: absolute;
    top: 0;
    display: block;
    width: 100%;
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .mui-textfield > input:focus ~ label {
    color: #273472;
  }
  .mui-textfield--float-label > label {
    position: absolute;
    -webkit-transform: translate(0, 15px);
    transform: translate(0, 15px);
    font-size: 16px;
    line-height: 32px;
    color: rgba(0, 0, 0, 0.26);
    text-overflow: clip;
    cursor: text;
    pointer-events: none;
  }
  .mui-textfield--float-label > input:-webkit-autofill ~ label {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
  }
  .mui-textfield--float-label > input:focus ~ label {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    font-size: 12px;
    line-height: 15px;
    text-overflow: ellipsis;
  }
  .mui-textfield--float-label > input:not(:focus).mui--is-not-empty ~ label,
  .mui-textfield--float-label > input:not(:focus):not(:empty):not(.mui--is-empty):not(.mui--is-not-empty) ~ label,
  .mui-textfield--float-label > input:not(:focus)[value]:not([value=""]):not(.mui--is-empty):not(.mui--is-not-empty) ~ label {
    color: rgba(0, 0, 0, 0.54);
    font-size: 12px;
    line-height: 15px;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    text-overflow: ellipsis;
  }
  .mui-textfield--wrap-label {
    display: table;
    width: 100%;
    padding-top: 0;
  }
  .mui-textfield--wrap-label:not(.mui-textfield--float-label) > label {
    display: table-header-group;
    position: static;
    white-space: normal;
    overflow-x: visible;
  }
  .mui-textfield > input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
    background-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.26);
    outline: 0;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 0;
    font-size: 16px;
    font-family: inherit;
    line-height: inherit;
    background-image: none;
  }
  .mui-textfield > input:focus {
    border-color: #273472;
    border-width: 2px;
  }
  .mui-textfield > input:-moz-read-only {
    cursor: not-allowed;
    background-color: transparent;
    opacity: 1;
  }
  .mui-textfield > input:disabled,
  .mui-textfield > input:read-only {
    cursor: not-allowed;
    background-color: transparent;
    opacity: 1;
  }
  .mui-textfield > input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.26);
    opacity: 1;
  }
  .mui-textfield > input::-moz-placeholder {
    color: rgba(0, 0, 0, 0.26);
    opacity: 1;
  }
  .mui-textfield > input:-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.26);
    opacity: 1;
  }
  .mui-textfield > input::-ms-input-placeholder {
    color: rgba(0, 0, 0, 0.26);
    opacity: 1;
  }
  .mui-textfield > input::placeholder {
    color: rgba(0, 0, 0, 0.26);
    opacity: 1;
  }
  .mui-textfield > input {
    height: 32px;
  }
  .mui-textfield > input:focus {
    height: calc(32px + 1px);
    margin-bottom: -1px;
  }
  .mui-textfield > input:focus {
    height: calc(32px + 1px);
    margin-bottom: -1px;
  }
