@tailwind base;
@tailwind components;
@tailwind utilities;

.max-width-default {
  @apply mx-auto w-full lg:max-w-[92rem];
}

.PopoverContent {
  width: var(--radix-popover-trigger-width);
}

input:not([type=checkbox]):not([type=radio]) {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
}

input:not([type=checkbox]):not([type=radio]):focus, textarea:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
